body {
    background: url(chair.jpg);
    background-size: cover
}

header {
    background: #f7913d;
}

img#logo {
    width: 37%;
}

nav ul li {
    list-style-type: none;
    font-size: 1.3em;
}

li a {
    color: white;
}