body {
    background: url(chair.jpg);
    background-size: cover
}

header {
    background: #f7913d;
}

img#logo {
    width: 37%;
}

nav ul li {
    list-style-type: none;
    font-size: 1.3em;
}

li a {
    color: white;
}

.box {
    background-color: rgba(255, 255, 255, 0.603);
    border: 3px solid rgba(255, 255, 255, 0.87);
}

footer {
    background: #f7913d;
    color: white;
}